@import 'tailwindcss';

/* Fonts */
@font-face {
  font-family: 'SF Pro';
  src: url('/fonts/SF-Pro-Display-Bold.otf');
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: 'SF Pro';
  src: url('/fonts/SF-Pro-Display-Semibold.otf');
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: 'SF Pro';
  src: url('/fonts/SF-Pro-Display-Medium.otf');
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'SF Pro';
  src: url('/fonts/SF-Pro-Display-Regular.otf');
  font-display: swap;
  font-weight: 400;
}

body {
  font-family: 'SF Pro', sans-serif;
}
